.table_container {
  margin-top: 50px;
}
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.083);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.table_footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .table_container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .table_title {
    text-align: center;
  }
}
