.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__info a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__image:hover {
  cursor: pointer;
  opacity: 90%;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
  background: none;
}
