* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  height: 100%;
}
.app {
  display: flex;
  min-height: calc(100vh - 40px);
  flex-direction: column;
  width: 100%;
}
.main {
  flex: 1;
  display: block;
  width: 100%;
}
footer {
  margin-top: 130px;
  display: block;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
}
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
}
